.button_block {
  display: flex;
  align-items: center;
  justify-content: center;
}
.switch_view_button_block {
  margin: 77px 0px 72px 0px;
  display: flex;
}
.blockView {
  margin-right: 20px;
}

@media all and (max-width: 400px) {
  .switch_view_button_block {
    margin: 29px 0px 29px 0px;
  }
}
